<div class="registration">
    <div class="registration-info">
        <p class="ship-id">Ship id: {{registration.shipId}}</p>
    </div>
    <div class="mapping-info">
        <div>
            <label for="ship-name">Ship name:</label>
            <input id="ship-name" class="ship-name" type="text" placeholder="ship name" [(ngModel)]="registration.shipName">
        </div>
        <div>
            <label for="client-name">Client name:</label>
            <input id="client-name" class="client-name" type="text" placeholder="client name" [(ngModel)]="registration.clientName">
        </div>
    </div>  
    <div *ngIf="registration?.status === 'awaiting_status'" class="registration-actions">
        <button (click)="acceptRegistration(registration)" class="btn btn-accept">Accept</button>
        <button (click)="denyRegistration(registration)" class="btn btn-deny">Deny</button>
    </div>
    <div *ngIf="registration.status !== 'awaiting_status'" class="registration-actions">
        <p>{{registration.status}}</p>
    </div>
</div>