p {
    margin: 0;
}

button:hover {
    cursor: pointer;
}

.ship-name {
    padding: 5px;
}

.client-name {
    padding: 5px
}

.registration {
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    justify-content: space-between;
}
.registration-actions {
    display: flex;
    gap: 1vw;
    align-items: center;
    padding: 10px;
    flex-basis: 25%;
    justify-content: center;
    border-left: 1px solid black;
}

.btn {
    padding: 5px;
    outline: none;
    border: none;
    border-radius: 7px;
}

.btn-accept {
    background-color: rgb(92, 230, 92);
}

.btn-deny {
    background-color: rgb(241, 111, 111);
}