.error-alert{
    background-color: rgba(247,209,213);
    border-radius: 5px;
    border: 2px solid rgb(247,191,196);
    padding: 5px;
    margin: 1vh 0;
}

.success-alert{
    background-color: rgb(213, 247, 209);
    border-radius: 5px;
    border: 2px solid rgb(191, 247, 191);
    padding: 5px;
    margin: 1vh 0;
}

.error-message {
    overflow-wrap: break-word;
}

.success-message {
    overflow-wrap: break-word;
}

button:hover {
    cursor: pointer;
}

.spinner {
    width: 3vw !important;
}