.registrations {
    display: flex;
    flex-direction: column;
    /* flex: 1 1 50%; */
    min-width: 50%;
    gap: 1vh;
}

.registrations-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3vh;
    /* border: 1px solid black; */
}

.registrations-header {
    display: flex;
    justify-content: space-between;
    /* background-color: rgb(230, 230, 230); */
    background-color: rgb(197, 211, 238);
    box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 20%);
    border-radius: 10px;
    margin-bottom: 1vh;
}

.btn-normal {
    background-color: rgb(51,96,212);
}

.btn {
    padding: 5px;
    outline: none;
    border: none;
    border-radius: 7px;
    font-size: small;
    color: white;
}

.flex-item {
    flex: 0 0 25%;
    text-align: center;
    font-weight: bold;
}